# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-end-search/node_modules
/front-end-search/.pnp
/front-end-search.pnp.js

# testing
/front-end-search/coverage

# production
/front-end-search/build

# misc
/front-end-search/.DS_Store
/front-end-search/.env.local
/front-end-search/.env.development.local
/front-end-search/.env.test.local
/front-end-search/.env.production.local
/front-end-search/.env

/front-end-search/npm-debug.log*
/front-end-search/yarn-debug.log*
/front-end-search/yarn-error.log*
