{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": ["./src"],
          "@pages": ["./src/pages"],
          "@components": ["./src/components"],
          "@store": ["./src/store"],
          "@services": ["./src/services"],
          "@tool": ["./src/tool/*"],
          "@__test__": ["./src/__test__"]
        }
      }
    ]
  ]
}
